//Colours
$white:#ffffff;
$off-red: #ffd5be;

$dull-red:#ff9776;
$button-color:#d25959;
$lighter-widget: #FFEFD8;

$m-size: 1.6rem;
$l-size: 3.1rem;
$xl-size:4.8rem;
$s-size: 1.2rem;


$desktop-breakpoint: 45rem;

$primary-font: 'Yeseva One', cursive;
$secondary-font:'Merriweather Sans', sans-serif;